.container-full {
  padding: 0 105px;
  margin: 0 auto;
  width: 100%;
  max-width: none;
  min-width: 1075px;
}
.container-fill {
  position: absolute;
  top: 300px;
  bottom: 50px;
}
.container-fill .row {
  height: 100%;
}
.container-fill .col-sidebar {
  height: 100%;
}
.container-fill .col-content {
  height: 100%;
}
.alert-default {
  color: #a0a0a0;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.alert-default hr {
  border-top-color: #cccccc;
}
.alert-default .alert-link {
  color: #a0a0a0;
}
.modal-wide .modal-dialog {
  width: 80%;
}
.alert-messaging {
  display: none;
}
.nav-tabs,
.nav-pills {
  margin-bottom: 15px;
}
.panel-list {
  border: 0;
}
.list-group-collapse {
  margin: 0;
}
.list-group-collapse .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.list-group-collapse .list-group-item:first-child {
  border-top: 0;
}
.list-group-collapse .list-group-item:last-child {
  border-bottom: 0;
}
.list-group-collapse .list-group-item button {
  margin-left: 3px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label-center {
    text-align: center;
  }
}
.well-clear {
  background-color: transparent;
}
.nav .nav-button {
  margin-left: 5px;
}
.state-icon {
  background-image: url("../css/images/ui-icons_cccccc_256x240.png");
  cursor: pointer;
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.state-icon.state-icon-expand {
  background-position: -32px -16px;
}
.state-icon.state-icon-collapse {
  background-position: -64px -16px;
}
.state-icon.state-icon-wait {
  background-position: -64px -80px;
}
.img-figure {
  margin: 10px 0px;
}
.navbar-logo {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-logo a:hover,
.navbar-logo a:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-logo {
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-enviro {
    width: auto;
  }
}
.navbar-enviro {
  margin: 30px 20px 0px 12px;
}
.navbar-enviro .navbar-enviro-name {
  color: #ff3601;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 118.75%;
  font-weight: bold;
  line-height: 100%;
}
.navbar-enviro .navbar-enviro-server {
  color: #999;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 75%;
}
.navbar-inverse {
  background-color: #383838;
  border-top: 5px solid #ff3601;
  border-bottom: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-logo {
  background: url('../img/logo.png') top left no-repeat;
  color: #ffffff;
  font-size: 156.25%;
  font-weight: bold;
  margin: 15px 0.6% 15px 4.75%;
  padding: 12px 0 11px 42px;
}
.navbar-inverse .navbar-logo a {
  color: #ffffff;
}
.navbar-inverse .navbar-logo a:hover,
.navbar-inverse .navbar-logo a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-header {
  margin-right: 40px;
}
.navbar-inverse .navbar-nav {
  font-family: Arial;
  font-size: 81.25%;
}
.navbar-inverse .navbar-nav > li {
  padding: 25px 12px 25px 12px;
  cursor: pointer;
}
.navbar-inverse .navbar-nav > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-nav > li > a {
  padding: 0px;
  color: #ccc;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ccc;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-nav > .active > a {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border-bottom: 1px solid #ff3601;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li.dropdown {
  padding: 0;
}
.navbar-inverse .navbar-nav > li.dropdown > a {
  padding: 25px 12px 25px 12px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ccc;
  background-color: transparent;
}
.az-page-header {
  padding: 5px 0 10px;
  margin: 0 0 30px;
  border-bottom: 1px solid #dddddd;
  background-color: #f4f4f4;
}
.az-page-header h1 {
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: 300;
}
.az-page-header .az-page-header-form {
  margin-top: 20px;
}
.az-page-header .az-exflow-stats {
  margin-top: 10px;
}
.az-page-header .az-exflow-stats p {
  margin-bottom: 5px;
}
.az-page-header .editable {
  margin: 0px;
  cursor: pointer;
}
.az-page-header .editable:hover {
  background-color: #fcfcfc;
}
.az-page-header .editable.editable-placeholder {
  color: #a0a0a0;
}
.az-page-header .editable-form {
  display: none;
}
.az-page-header .header-title {
  padding-left: 15px;
  float: left;
  width: 40%;
}
.az-page-header .header-control {
  float: right;
  padding-right: 15px;
  width: 500px;
}
.az-page-header .header-control .form-group {
  padding: 0;
}
.page-footer {
  margin: 30px 0 0 0;
  background-color: #383838;
}
ul.footer-nav {
  margin: 40px 0px;
  list-style: none;
  padding: 0;
}
ul.footer-nav li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
}
ul.footer-nav li a:hover {
  text-decoration: none;
}
.jumbotron-feature {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #494949;
}
.jumbotron-feature h1 {
  color: #f4f4f4;
  padding: 0px;
  margin: 30px 0px;
  font-size: 32px;
  font-weight: 300;
}
.homepage-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.feature-buttons {
  padding: 20px 0px;
  margin: 0 0 30px;
  background-color: #ddd;
  text-align: center;
}
.feature-buttons .btn {
  padding: 20px 30px;
  margin: 0px 10px;
}
.feature-buttons .btn-default {
  border: 5px solid #383838;
  background-color: #ddd;
  border-radius: 0px;
}
.feature-buttons .btn-default:hover {
  background-color: #383838;
  color: #ddd;
}
.feature-buttons .btn-primary {
  border: 5px solid #383838;
  color: #ddd;
  background-color: #383838;
  border-radius: 0px;
}
.feature-buttons .btn-primary:hover {
  background-color: #ccc;
  color: #383838;
}
@media (max-width: 767px) {
  .feature-buttons .btn {
    display: block;
    margin-bottom: 10px;
  }
}
.feature-content ul {
  padding: 20px 0px;
  margin-bottom: 10px;
  list-style: none;
}
.feature-content ul li {
  line-height: 20px;
  padding-bottom: 5px;
}
.feature-content ul li:before {
  content: '';
  width: 0px;
  height: 0px;
  border: 3px solid transparent;
  border-left: 3px solid #ccc;
  float: left;
  display: block;
  margin: 6px;
}
.feature-thumb {
  text-align: center;
}
.feature-thumb img {
  margin-bottom: 20px;
  max-width: 100%;
}
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */
/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}
/* First level of nav */
.bs-sidenav {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f4f4f4;
  border-radius: 5px;
}
/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #717171;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #dfdfdf;
  border-right: 1px solid #b0b0b0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #717171;
  background-color: transparent;
  border-right: 1px solid #ff3601;
}
/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed;
    /* Undo the static from mobile first approach */
    top: 20px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute;
    /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}
/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */
/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #8a6d3b;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #34789a;
}
/*
 * Team members
 *
 * Avatars, names, and usernames for core team.
 */
.github-btn {
  border: 0;
  overflow: hidden;
}
.az-team .team-member {
  color: #555;
  line-height: 32px;
}
.az-team .team-member:hover {
  color: #333;
  text-decoration: none;
}
.az-team .github-btn {
  float: right;
  margin-top: 6px;
  width: 180px;
  height: 20px;
}
.az-team img {
  float: left;
  width: 32px;
  margin-right: 10px;
  border-radius: 4px;
}
.navbar-enviro .navbar-enviro-name {
  color: #ff3601;
}
.navbar-inverse {
  border-top: 5px solid #ff3601;
}
.navbar-inverse .navbar-nav > .active > a {
  border-bottom: 1px solid #ff3601;
}
.docs-section + .docs-section {
  padding-top: 40px;
}
