<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS Z} %5p [%c{1}] [%t] %m%n"/>
        </layout>
    </appender>
    <logger name="velocity">
        <level value="INFO"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </root>
</log4j:configuration>