#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html> 
<html>
	<head>
#parse( "azkaban/webapp/servlet/velocity/style.vm" )
#parse ("azkaban/webapp/servlet/velocity/javascript.vm")
	</head>
	
	<body>
#set($current_page="fileeditor")
#parse( "azkaban/webapp/servlet/velocity/nav.vm" )
		<div class="container-full">
			<br>
			<b>Browser : <label id="directorypath"></label></b>
			<div id="filebrowser" >
			</div>
			<b>Editor : <label id="filepath"></label></b>
			<textarea id="editor" style="height: 100%; width: 100%; display: none;" name="fileeditor"></textarea>
		</div>
	</body>
</html>

<script type="text/javascript" src="${context}/js/jquery/jquery.js"></script>
<script type="text/javascript" src="${context}/js/editarea/edit_area_full.js"></script>
<script type="text/javascript" src="${context}/js/editarea/en.js"></script>

<script type="text/javascript">

    var fileLoaded=null;

  	editAreaLoader.init({
		id: "editor"	// id of the textarea to transform	
		,start_highlight: false	
		,font_size: "10"
		,font_family: "verdana, monospace"
		,allow_resize: "y"
		,allow_toggle: false
		,word_wrap: true
		,language: "en"
		,toolbar: " save, fullscreen, search, go_to_line, undo, redo, select_font, help"
		,save_callback: "savefile"
		,height: "100%"
	});
	
	browseDirectory('/');

	function savefile(id, content){
		if(fileLoaded !== null) {
			$.ajax({
				url: '/fileeditor?resource='+fileLoaded,
				type: 'POST',
				data: { content: content },
				success: function(data) {
					alert('Saved file '+fileLoaded+' with new content');
				}
			});
		}
	}
	
	function browseDirectory(path) {
		$.ajax({
	    type: 'GET',
	    url: '/fileeditor?resource='+path,
		success: function(response){
			$('#filebrowser').empty(); 
		     $('#filebrowser').append(response);
		     $('#directorypath').text(path);
		  },
	    async: true
		});
	}

	function fetchFileContent(file) {
		fileLoaded=file;
		$.ajax({
	    type: 'GET',
	    url: '/fileeditor?resource='+fileLoaded,
		success: function(response){
			  editAreaLoader.setValue("editor", null);
			  editAreaLoader.setValue("editor", response);
		      $('#filepath').text(file);
		  },
	    async: true
		});
	}
			
</script>


