#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

      <script type="text/javascript" src="${context}/js/azkaban/util/date.js"></script>
      <script type="text/javascript" src="${context}/js/azkaban/view/schedule-panel.js"></script>

      <div class="modal" id="schedule-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Schedule Flow Options</h4>
            </div><!-- /modal-header -->
            <div class="modal-body">
              <fieldset class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Time</label>
                  <div class="col-sm-7">
                    <input type="text" id="timepicker" class="form-control">
                  </div>
                  <div class="col-sm-3">
                    <select id="timezone" class="form-control">
                      <option>${timezone}</option>
                      <option>UTC</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Date</label>
                  <div class="col-sm-10">
                    <input type="text" id="datepicker" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2">Recurrence</label>
                  <div class="col-sm-3">
                    <div class="checkbox">
                      <input id="is_recurring" type="checkbox" checked="checked">
                      <label>repeat every</label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <input id="period" type="text" size="2" value="1" class="form-control">
                  </div>
                  <div class="col-sm-3">
                    <select id="period_units" class="form-control">
                      <option value="d">Days</option>
                      <option value="h">Hours</option>
                      <option value="m">Minutes</option>
                      <option value="M">Months</option>
                      <option value="w">Weeks</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success" id="schedule-button">Schedule</button>
            </div>
          </div>
        </div>
      </div>
