
*.swp
.classpath
.gradle/
.project
.settings/
/bin
bin/
build/
.DS_Store
.bundle/
Gemfile.lock
vendor/
**/velocity.log

# local & temp directories are ignored so that they can be used to store temporary files such as local testing configurations.
local/
temp/

# Intellij files
.idea
*.iml
*.ipr
*.iws
.ideaDataSources/
.shelf
# Intellij default build output directory
out/

currentpid