*.db
*.swp
.classpath
.gradle/
.project
.settings/
/bin
bin/
build/
.DS_Store
.bundle/
Gemfile.lock
vendor/
**/velocity.log
docs/_build/

executor.port

# local & temp directories are ignored so that they can be used to store temporary files such as local testing configurations.
local/
temp/
conf/
projects/
LOCAL_STORAGE/

# Intellij files
.idea
*.iml
*.ipr
*.iws
.ideaDataSources/
.shelf
# Intellij default build output directory
out/
currentpid

# direnv files see https://github.com/direnv/direnv
.envrc
.direnv/

# pytest
.pytest_cache/

# python venv
venv/

#python
__pycache__/

#test artifacts
LOCAL_STORAGE/
