
*.swp
.classpath
.gradle/
.project
.settings/
/bin
bin/
build/
.DS_Store
.bundle/
Gemfile.lock
vendor/
**/velocity.log

# temp & local directories are ignored so that they can be used to store temporary files such as local testing configurations.
temp/
local/
executor.port
azkaban-webserver.log
executions/
projects/

# Intellij files
.idea
*.iml
*.ipr
*.iws
.ideaDataSources/
.shelf
# Intellij default build output directory
out/
