#*
 * Copyright 2014 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

## Page header.

<div class="az-page-header page-header-bare">
  <div class="container-full">
    <div class="row">
      <div class="header-title">
        <h1><a href="${context}/executor?execid=${execid}&job=${jobid}">Job Execution
          <small>
            $jobid
            <span id="flowStatus" class="$attemptStatus">$attemptStatus</span>
          </small>
        </a></h1>
      </div>
      <div class="header-control">
        <div class="pull-right header-form">
          #set($jobLogLinkBtnText = "#if($jobType == 'spark')Spark Job Log#{else}Hadoop Job Log#end")
          #set($jobLogLinkBtnClass = "#if($jobFailed == 'true')btn-danger#{else}btn-primary#end")
          #if ($jobLogUrlsByAppId.size() == 1)
            <a href="${jobLogUrlsByAppId.get($jobLogUrlsByAppId.entrySet().iterator().next().getKey())}"
               target="_blank" class="btn btn-sm ${jobLogLinkBtnClass}" id="jobLogLink">
              ${jobLogLinkBtnText}
            </a>
          #end
          #if ($jobLogUrlsByAppId.size() > 1)
            <div class="btn-group">
              <button type="button" class="btn btn-sm dropdown-toggle ${jobLogLinkBtnClass}"
                      data-toggle="dropdown">
                ${jobLogLinkBtnText} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                #foreach ($jobLogLink in $jobLogUrlsByAppId.entrySet())
                  <li><a target="_blank" href="$jobLogLink.value">$jobLogLink.key</a></li>
                #end
              </ul>
            </div>
          #end

          <a href="${context}/manager?project=${projectName}&flow=${parentflowid}&job=$jobname"
             class="btn btn-info btn-sm">Job Properties</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-breadcrumb">
  <div class="container-full">
    <ol class="breadcrumb">
      <li><a href="${context}/manager?project=${projectName}"><strong>Project</strong> $projectName</a></li>

      #set($ref = "${context}/manager?project=${projectName}&flow=")
      #foreach( $flow in ${flowlist} )
        #set($ref = $ref + $flow)

        #if( $foreach.first )
          #set($flowlabel = "Flow")
          #set($linkclass = "")
        #else
          #set($flowlabel = "")
          #set($linkclass = "flowlink")
        #end

        <li class="${linkclass}"><a href="${ref}"><strong>$flowlabel</strong> $flow</a></li>

        #set($ref = $ref + ${pathDelimiter})
      #end

      <li><a href="${context}/executor?execid=${execid}#jobslist"><strong>Execution</strong> $execid</a></li>
      <li class="active"><strong>Job</strong> $jobid</li>
      <li class="active"><strong>Attempt</strong> $attempt</li>
    </ol>
  </div>
</div>

<div class="container-full">

  #parse ("azkaban/webapp/servlet/velocity/alerts.vm")

## Tabs

  <ul class="nav nav-tabs nav-sm" id="headertabs">
    #if ($current_page == "executing")
      <li class="active" id="jobLogViewLink"><a href="#logs">Job Logs</a></li>
    #else
      <li id="jobLogViewLink"><a href="${context}/executor?execid=${execid}&job=${jobid}#logs">Job
        Logs</a></li>
    #end
    #foreach ($jobViewerPlugin in $jobViewerPlugins)
      <li#if($current_page == $jobViewerPlugin.pluginName) class="active"#end><a
          href="$!context/${jobViewerPlugin.pluginPath}?execid=${execid}&jobid=${jobid}">$jobViewerPlugin.pluginName</a>
      </li>
    #end
    #foreach ($analyzer in $externalAnalyzers)
      #if (!${analyzer.isLinkUrlValid()})
        #set($title = "Execution is not analyzable in ${analyzer.getLabel()} at the moment.")
        #set($isDisabled = "disabled")
      #else
        #set($title = "Analyze execution in ${analyzer.getLabel()}")
        #set($isDisabled = "")
      #end
      #set($id = "ext-link-${analyzer.getTopic()}")
      <li><a id="${id}" href="${analyzer.getLinkUrl()}"
             class="btn btn-info btn-sm btn-external ${isDisabled}"
             type="button" target="_blank"
             title="${title}">${analyzer.getLabel()}</a>
      </li>
    #end
  </ul>
</div>
