#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

    <div class="az-page-header">
      <div class="container-full">
        <div class="row">
          <div class="header-title" id="project-page-header">
            <h1><a href="${context}/manager?project=${project.name}">Project <small>$project.name</small></a></h1>
          </div>
          <div class="header-control">
            <div class="header-form pull-right" id="project-options">
              <button id="project-delete-btn" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Delete Project
              </button>
              <button id="project-upload-btn" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <a class="btn btn-sm btn-info" href="${context}/manager?project=${project.name}&download=true">
                <span class="glyphicon glyphicon-download"></span> Download
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
