#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html>
<html lang="en">
<head>

  #parse ("azkaban/webapp/servlet/velocity/style.vm")
  #parse ("azkaban/webapp/servlet/velocity/javascript.vm")

  <link rel="stylesheet" type="text/css" href="${context}/css/bootstrap-datetimepicker.css"/>

  <script type="text/javascript" src="${context}/js/moment.min.js"></script>
  <script type="text/javascript" src="${context}/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="${context}/js/azkaban/view/table-sort.js"></script>
  <script type="text/javascript" src="${context}/js/azkaban/view/schedule-sla.js?v=1588045179"></script>
  <script type="text/javascript" src="${context}/js/azkaban/view/scheduled.js"></script>
  <script type="text/javascript" src="${context}/js/azkaban/util/schedule.js"></script>
  <script type="text/javascript" src="${context}/js/jquery/jquery.tablesorter.js"></script>
  <script type="text/javascript">
    var contextURL = "${context}";
    var currentTime = ${currentTime};
    var timezone = "${timezone}";
    var errorMessage = null;
    var successMessage = null;

    $(document).ready(function () {
      var flowTable = $("#scheduledFlowsTbl");
      flowTable.tablesorter();
    });
  </script>
</head>
<body>

  #set ($current_page="schedule")
  #parse ("azkaban/webapp/servlet/velocity/nav.vm")

  #if ($errorMsg)
    #parse ("azkaban/webapp/servlet/velocity/errormsg.vm")
  #else

  ## Page header.

  <div class="az-page-header">
    <div class="container-full">
      <div class="row">
        <div class="header-title">
          <h1><a href="${context}/schedule">Scheduled Flows</a></h1>
        </div>
        <div class="header-control">
          <form id="search-form" method="get" class="form-inline header-form" role="form">
            <input type="hidden" name="search" value="true">
            <div class="form-group">
              <div class="input-group">
              <input type="text" id="searchtextbox"
                     placeholder="flow name containing ..." value=#if($search_term) "$esc.html(${search_term})" #else
                "" #end class="form-control input-sm" name="searchterm">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm">Quick Search</button>
                    <button type="button" class="btn btn-success btn-sm" id="adv-filter-btn">Advanced Filter</button>
                  </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  ## Page content.

  <div class="container-full">

    #parse ("azkaban/webapp/servlet/velocity/alerts.vm")

    <div class="row">
      <div class="col-xs-12">
        <i>* Click column headers to sort.</i>
        <table id="scheduledFlowsTbl"
               class="table table-striped table-condensed table-bordered table-hover">
          <thead>
          <tr>
            <!--th class="execid">Execution Id</th-->
            <th>#</th>
            <th>ID</th>
            <th>Flow</th>
            <th>Project</th>
            <th>Submitted By</th>
            <th class="date">First Scheduled to Run</th>
            <th class="date">Next Execution Time</th>
            <th class="date">Repeats Every</th>
            <th class="date">Cron Expression</th>
            <th>Execution Options</th>
            <th>Has SLA</th>
            <th colspan="2" class="action ignoresort">Action</th>
          </tr>
          </thead>
          <tbody>
            #if(!$schedules.isEmpty())
              #foreach($sched in $schedules)
              <tr>
                <td class="tb-name">
                  $foreach.count
                </td>
                <td>${sched.scheduleId}</td>
                <td class="tb-name">
                  <a href="${context}/manager?project=${sched.projectName}&flow=${sched.flowName}">${sched.flowName}</a>
                </td>
                <td>
                  <a href="${context}/manager?project=${sched.projectName}">${sched.projectName}</a>
                </td>
                <td>${sched.submitUser}</td>
                <td>$TimeUtils.formatDateTime(${sched.firstSchedTime})</td>
                <td>$TimeUtils.formatDateTime(${sched.nextExecTime})</td>
                #if (${sched.period})
                  <td> $TimeUtils.formatPeriod(${sched.period})</td>
                #else
                  <td>Not Applicable</td>
                #end
                #if (${sched.cronExpression})
                  <td> ${sched.cronExpression}</td>
                #else
                  <td>Not Applicable</td>
                #end
                <td>
                ## Changed the style of "Show" button to be consistent with other buttons.
                  <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                          data-target="#executionOptions-${foreach.count}">Show
                  </button>
                </td>

              ## Distinguished executionOptions of each schedule with unique count number to fix
              ## the issue of same display for all schedules
                <div class="modal fade" id="executionOptions-${foreach.count}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="executionOptionsLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="executionOptionsLabel">Execution Options</h4>
                      </div>
                      <div class="modal-body">
                        ## Used <pre> to display text with code format
                        <pre>${sched.executionOptions.toJSON()}</pre>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <td>#if(${sched.executionOptions.slaOptions.isEmpty()}) false #else true #end</td>
                <td>
                  <button type="button" id="removeSchedBtn" class="btn btn-sm btn-danger"
                          onclick="removeSched(${sched.scheduleId})">Remove Schedule
                  </button>
                </td>
                <td>
                  <button type="button" id="addSlaBtn" class="btn btn-sm btn-primary"
                          onclick="slaView.initFromSched(${sched.scheduleId}, '${sched.flowName}')">
                    Set SLA
                  </button>
                </td>
              </tr>
              #end
            #else
            <tr>
              <td colspan="12">No scheduled flow found.</td>
            </tr>
            #end
          </tbody>
        </table>
      </div><!-- /col-xs-12 -->
    </div><!-- /row -->

  ## Advanced Filter Modal.

    <div class="modal" id="adv-filter">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h4 class="modal-title">Advanced Filter</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" id="adv-filter-error-msg">$error_msg</div>
            <fieldset class="form-horizontal">
              <div class="form-group">
                <label for="projcontain" class="col-sm-2 control-label">Project</label>
                <div class="col-sm-10">
                  <input id="projcontain" type="text" placeholder="Project name containing ..."
                         value="" class="form-control" name="projcontain">
                </div>
              </div>
              <div class="form-group">
                <label for="flowcontain" class="col-sm-2 control-label">Flow</label>
                <div class="col-sm-10">
                  <input id="flowcontain" type="text" placeholder="Flow name containing ..."
                         value="" class="form-control" name="flowcontain">
                </div>
              </div>
              <div class="form-group">
                <label for="submitusercontain" class="col-sm-2 control-label">Submit User</label>
                <div class="col-sm-10">
                  <input id="submitusercontain" type="text" placeholder="Submit User name containing
                   ..."
                         value="" class="form-control" name="submitusercontain">
                </div>
              </div>
              <div class="form-group">
                <label for="nextexecbegin" class="col-sm-12">Next Execution Time</label>
              </div>
              <div class="form-group">
                <label for="nextexecbegin" class="col-sm-2 control-label">Between</label>
                <div class="col-sm-4">
                  <input type="text" id="nextexecbegin" value=""
                         class="ui-datetime-container form-control">
                </div>
                <label for="nextexecend"
                       class="col-sm-2 control-label control-label-center">and</label>
                <div class="col-sm-4">
                  <input type="text" id="nextexecend" value=""
                         class="ui-datetime-container form-control">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" id="filter-btn">Filter</button>
          </div>
        </div>
      </div>
    </div>

  ## Set SLA modal.

    #parse ("azkaban/webapp/servlet/velocity/slapanel.vm")

  </div>
  #end
</body>
</html>
