	<ul class="rootnav">
		<li id="nav-home" {% if page.nav == "home" %}class="selected"{% endif %}><a href="{{page.context}}/">Home</a></li>
		<li id="nav-documents" {% if page.nav == "documents" %}class="selected"{% endif %}><a href="./">Documents</a></li>
		
		<li id="nav-gettingstarted" class="expandable  {% if page.nav == "gettingstarted" %}selected{% endif %} {% if page.expand == "gettingstarted" %}expand{% endif %}"><a href="./gettingstarted.html">Getting Started</a><span class="arrow"></span>
			<ul class="submenu">
				<li {% if page.nav == "database" %}class="selected"{% endif %}><a href="./database.html">Database Setup</a></li>
				<li {% if page.nav == "webserversetup" %}class="selected"{% endif %}><a href="./webserversetup.html">Web Setup</a></li>
				<li {% if page.nav == "execserversetup" %}class="selected"{% endif %}><a href="./execserversetup.html">Executor Setup</a></li>
				<li {% if page.nav == "pluginsetup" %}class="selected"{% endif %}><a href="./pluginsetup.html">Plugin Setup</a></li>
				<li {% if page.nav == "upgradefrom20" %}class="selected"{% endif %}><a href="./upgradefrom20.html">Upgrade from 2.0</a></li>
			</ul>
		</li>
		<li id="nav-configuration" class="expandable  {% if page.nav == "configuration" %}selected{% endif %} {% if page.expand == "configuration" %}expand{% endif %}"><a href="./configuration.html">Configurations</a><span class="arrow"></span>
			<ul class="submenu">
				<li {% if page.nav == "azkabanwebserver" %}class="selected"{% endif %}><a href="./azkabanwebserver.html">AzkabanWebServer</a></li>
				<li {% if page.nav == "azkabanexecserver" %}class="selected"{% endif %}><a href="./azkabanexecserver.html">AzkabanExecutorServer</a></li>
			</ul>
		</li>
		<li id="nav-usermanager" class="expandable  {% if page.nav == "usermanager" %}selected{% endif %} {% if page.expand == "usermanager" %}expand{% endif %}"><a href="./usermanager.html">User Manager</a><span class="arrow"></span>
			<ul class="submenu">
				<li {% if page.nav == "xmlusermanager" %}class="selected"{% endif %}><a href="./xmlusermanager.html">XmlUserManager</a></li>
				<li {% if page.nav == "customusermanager" %}class="selected"{% endif %}><a href="./customusermanager.html">Custom UserManager</a></li>
			</ul>
		</li>
		<li id="nav-creatingflows" class="expandable  {% if page.nav == "creatingflows" %}selected{% endif %} {% if page.expand == "creatingflows" %}expand{% endif %}"><a href="./creatingflows.html">Creating Flows</a><span class="arrow"></span>
			<ul class="submenu">
				<li {% if page.nav == "jobconf" %}class="selected"{% endif %}><a href="./jobconf.html">Job Configuration</a></li>
				<li {% if page.nav == "builtinjobtypes" %}class="selected"{% endif %}><a href="./jobtypesbuiltin.html">Built-in Job Types</a></li>
			</ul>
		</li>
		<li id="nav-usingazkaban" class="expandable  {% if page.nav == "usingazkaban" %}selected{% endif %} {% if page.expand == "usingazkaban" %}expand{% endif %}"><a href="./usingazkaban.html">Using Azkaban</a><span class="arrow"></span>
			<ul class="submenu">
				<li {% if page.nav == "projectcreate" %}class="selected"{% endif %}><a href="./projectcreate.html">Create Projects</a></li>
				<li {% if page.nav == "projectupload" %}class="selected"{% endif %}><a href="./projectupload.html">Upload Projects</a></li>
				<li {% if page.nav == "flowview" %}class="selected"{% endif %}><a href="./projectflowview.html">Flow View</a></li>
				<li {% if page.nav == "projectpermissions" %}class="selected"{% endif %}><a href="./projectpermissions.html">Project Permissions</a></li>
				<li {% if page.nav == "executingflow" %}class="selected"{% endif %}><a href="./executingflow.html">Executing Flows</a></li>
				<li {% if page.nav == "executions" %}class="selected"{% endif %}><a href="./executions.html">Executions</a></li>
				<li {% if page.nav == "scheduleflow" %}class="selected"{% endif %}><a href="./scheduleflow.html">Schedule Flow</a></li>
				<li {% if page.nav == "jobpage" %}class="selected"{% endif %}><a href="./jobpage.html">Job Page</a></li>
				<li {% if page.nav == "ajaxapi" %}class="selected"{% endif %}><a href="./ajaxapi.html">Ajax API</a></li>
			</ul>
		</li>
		<li id="nav-plugins" class="expandable  {% if page.nav == "plugins" %}selected{% endif %} {% if page.expand == "plugins" %}expand{% endif %}"><a href="./plugins.html">Plugins</a><span class="arrow"></span>
			<ul class="submenu">
				<li {% if page.nav == "hadoopsecuritymanager" %}class="selected"{% endif %}><a href="./hadoopsecuritymanager.html">HadoopSecurityManager</a></li>
				<li {% if page.nav == "hdfsbrowser" %}class="selected"{% endif %}><a href="./hdfsbrowser.html">HDFS Browser</a></li>
  				<li {% if page.nav == "jobtypeplugin" %}class="selected"{% endif %}><a href="./jobtypeplugin.html">Jobtype Plugins</a></li>
					<li id="nav-jobtypes" class="expandable  {% if page.nav == "jobtypes" %}selected{% endif %} {% if page.expand == "jobtypes" %}expand{% endif %}"><a href="./jobtypes.html">Job Types</a><span class="arrow"></span>
                        			<ul class="submenu">
							<li {% if page.nav == "commandtype" %}class="selected"{% endif %}><a href="./commandtype.html">Command</a></li>
                                			<li {% if page.nav == "javatype" %}class="selected"{% endif %}><a href="./javatype.html">Java</a></li>
							<li {% if page.nav == "hadoopjavatype" %}class="selected"{% endif %}><a href="./hadoopjavatype.html">Hadoop Java</a></li>
                                			<li {% if page.nav == "pigtype" %}class="selected"{% endif %}><a href="./pigtype.html">Pig</a></li>													  <li {% if page.nav == "hivetype" %}class="selected"{% endif %}><a href="./hivetype.html">Hive</a></li>
							<li {% if page.nav == "voldemortbuildandpushtype" %}class="selected"{% endif %}><a href="./voldemortbuildandpushtype.html">VoldemortBuildandPush</a></li>
							<li {% if page.nav == "createnewjobtypes" %}class="selected"{% endif %}><a href="./createnewjobtypes.html">Create Types</a></li>
                        			</ul>
                			</li> 
			</ul>
		</li>
</ul>
