    <div class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="footer-nav">
              <li><a href="https://azkaban.readthedocs.io">Documentation</a></li>
              <li><a href="{{ site.home }}/downloads.html">Downloads</a></li>
              <li><a href="https://github.com/azkaban">GitHub</a></li>
              <li><a href="https://groups.google.com/forum/?fromgroups#!forum/azkaban-dev">Google Group</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

