    <script type="text/javascript">
      function navMenuClick(url) {
        window.location.href = url;
      }
    </script>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-logo">
						<a href="/">{{ site.name }}</a>
					</div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li onClick="navMenuClick('{{ site.home }}/downloads.html')"><a href="{{ site.home }}/downloads.html">Downloads</a></li>
						<li class="active" onClick="navMenuClick('https://azkaban.readthedocs.io')"><a href="https://azkaban.readthedocs.io">Documentation</a></li>
            <li onClick="navMenuClick('{{ site.home }}//contributing.html')"><a href="{{ site.home }}/contributing.html">Contributing</a></li>
            <li onClick="navMenuClick('{{ site.home }}/license.html')"><a href="{{ site.home }}/license.html">License</a></li>
            <li onClick="navMenuClick('{{ site.home }}/contact.html')"><a href="{{ site.home }}/contact.html">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">GitHub <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/azkaban/azkaban">azkaban repo</a></li>
                <li><a href="https://github.com/azkaban/azkaban/issues">azkaban issues</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/azkaban/azkaban-plugins">azkaban-plugins repo</a></li>
                <li><a href="https://github.com/azkaban/azkaban-plugins/issues">azkaban-plugins issues</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

