			<div id="header">
				<div id="header-title">
					<div id="header-icon"></div>
					<div id="header-text">
						<h2 id="header-name"><a href="./">Azkaban</a></h2>
						<h4 id="header-sub-name">Open-source Workflow Manager</h4>
					</div>
				</div>
				
				<div id="header-buttons">
					<a id="sourceLink" title="Github Source" class="header-button" href="https://github.com/azkaban/azkaban2"><div class="header-button"></div></a>
					<a id="bugsLink" title="Submit Bugs" class="header-button" href="https://github.com/azkaban/azkaban2/issues"><div class="header-button"></div></a>
					<a id="downloadLink" title="Download Packages" class="header-button" href="{{page.context}}/downloads.html"><div class="header-button"></div></a>
					<a id="docsLink" title="Documents" class="header-button" href="{{page.context}}/documents/3.0"><div class="header-button"></div></a>
				</div>
			</div>
