    <script type="text/javascript">
      function navMenuClick(url) {
        window.location.href = url;
      }
    </script>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-logo">
						<a href="/">{{ site.name }}</a>
					</div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
						<li{% if page.nav == "downloads" %} class="active"{% endif %} onClick="navMenuClick('downloads.html')"><a href="downloads.html">Downloads</a></li>
						<li onClick="navMenuClick('https://azkaban.readthedocs.io')"><a href="https://azkaban.readthedocs.io">Documentation</a></li>
						<li{% if page.nav == "contributing" %} class="active"{% endif %} onClick="navMenuClick('contributing.html')"><a href="contributing.html">Contributing</a></li>
						<li{% if page.nav == "license" %} class="active"{% endif %} onClick="navMenuClick('license.html')"><a href="license.html">License</a></li>
						<li{% if page.nav == "contact" %} class="active"{% endif %} onClick="navMenuClick('contact.html')"><a href="contact.html">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">GitHub <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/azkaban/azkaban2">azkaban2 repo</a></li>
                <li><a href="https://github.com/azkaban/azkaban2/issues">azkaban2 issues</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/azkaban/azkaban-plugins">azkaban-plugins repo</a></li>
                <li><a href="https://github.com/azkaban/azkaban-plugins/issues">azkaban-plugins issues</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

