		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Azkaban</title>
		<link rel="shortcut icon" href="{{page.context}}/favicon.ico" type="image/x-icon" />
		<script type="text/javascript" src="{{page.context}}/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{page.context}}/javascripts/main.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700' rel='stylesheet' type='text/css' media="screen">
		<link rel="stylesheet" type="text/css" media="screen" href="{{page.context}}/stylesheets/azkaban.css">
