		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Azkaban</title>
		<link rel="shortcut icon" href="{{page.context}}/favicon.ico" type="image/x-icon" />
		<script type="text/javascript" src="{{page.context}}/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{page.context}}/javascripts/main.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700' rel='stylesheet' type='text/css' media="screen" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{page.context}}/stylesheets/azkaban-docs.css" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40837424-1', 'github.io');
  ga('send', 'pageview');

</script>
