					<div class="bs-sidebar hidden-print" role="complementary">
						<ul class="bs-sidenav nav">
							<li>
								<a href="#getting-started">Getting Started</a>
								<ul class="nav">
									<li><a href="#database-setup">Database Setup</a></li>
									<li><a href="#webserver-setup">Web Server Setup</a></li>
									<li><a href="#executor-setup">Executor Setup</a></li>
									<li><a href="#plugin-setup">Plugin Setup</a></li>
									<li><a href="#upgrade-21">Upgrade from 2.1</a></li>
								</ul>
							</li>
							<li>
								<a href="#configuration">Configuration</a>
								<ul class="nav">
									<li><a href="#azkaban-webserver">AzkabanWebServer</a></li>
									<li><a href="#azkaban-execserver">AzkabanExecutorServer</a></li>
								</ul>
							</li>
							<li>
								<a href="#user-manager">User Manager</a>
								<ul class="nav">
									<li><a href="#xml-usermanager">XmlUserManager</a></li>
									<li><a href="#custom-usermanager">Custom UserManager</a></li>
								</ul>
							</li>
							<li>
								<a href="#creating-flows">Creating Flows</a>
								<ul class="nav">
									<li><a href="#job-conf">Job Configuration</a></li>
									<li><a href="#builtin-jobtypes">Built-in JobTypes</a></li>
								</ul>
							</li>
							<li>
								<a href="#using-azkaban">Using Azkaban</a>
								<ul class="nav">
									<li><a href="#create-projects">Create Projects</a></li>
									<li><a href="#upload-projects">Upload Projects</a></li>
									<li><a href="#flow-view">Flow View</a></li>
									<li><a href="#project-permissions">Project Permissions</a></li>
									<li><a href="#executing-flows">Executing Flows</a></li>
									<li><a href="#executions">Executions</a></li>
									<li><a href="#job-page">Job Page</a></li>
									<li><a href="#ajax-api">AJAX API</a></li>
								</ul>
							</li>
							<li>
								<a href="#plugins">Plugins</a>
								<ul class="nav">
									<li><a href="#hadoopsecuritymanager">HadoopSecurityManager</a></li>
									<li><a href="#hdfs-browser">HDFS Browser</a></li>
									<li><a href="#jobtype-plugins">JobType Plugins</a></li>
									<li>
										<a href="#jobtypes">JobTypes</a>
										<ul class="nav">
											<li><a href="#command-type">Command</a></li>
											<li><a href="#java-type">Java</a></li>
											<li><a href="#hadoopjava-type">Hadoop Java</a></li>
											<li><a href="#pig-type">Pig</a></li>
											<li><a href="#hive-type">Hive</a></li>
											<li><a href="#voldemortbuildandpush-type">VoldemortBuildAndPush</a></li>
											<li><a href="#create-types">Create Types</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>

