.az-page-header {
  padding: 5px 0 5px;
  margin: 0 0 30px;
  border-bottom: 1px solid #dddddd;
  background-color: #f4f4f4;

  h1 {
    font-size: 22px;
    margin: 9px 0 7px 0;
    font-weight: 400;

    small {
      font-size: 22px;
      font-weight: 300;
    }

    a {
      color: #9a9a9a;
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }
  
  .exflow-stats {
    margin: 0px;

    p {
      margin: 0px;
    }
  }

  .header-title {
    padding-left: 15px;
    float: left;
    width: 40%;
  }

  .header-control {
    float: right;
    padding-right: 15px;
    width: 500px;

    .header-form {
      margin: 5px 0 0 0;
    }

    .form-group {
      padding: 0;
    }
  }
}
