jobtype.class=azkaban.jobtype.JdbcSqlJob

# defining XYZ database  connection
jdbcSql.my_xyz_DB.connectionurl=jdbc:mysql://host1:33060/sakila
jdbcSql.my_xyz_DB.username=root
jdbcSql.my_xyz_DB.password=xxxx