body {
	margin: 0px;
	padding: 0px;
	background-color: #DDD;
	font-family: sans-serif;
}

#block {
	margin-left: 100px;
	margin-right: 100px;
	box-shadow: 0px 0px 10px 3px #888;
}

/* Template Header Styles */
#header {
	height: 140px;

background: #515557; /* Old browsers */
background: -moz-linear-gradient(top, #515557 0%, #434749 50%, #323536 51%, #515557 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515557), color-stop(50%,#434749), color-stop(51%,#323536), color-stop(100%,#515557)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #515557 0%,#434749 50%,#323536 51%,#515557 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #515557 0%,#434749 50%,#323536 51%,#515557 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #515557 0%,#434749 50%,#323536 51%,#515557 100%); /* IE10+ */
background: linear-gradient(to bottom, #515557 0%,#434749 50%,#323536 51%,#515557 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515557', endColorstr='#515557',GradientType=0 ); /* IE6-9 */

}

#header-title {
	margin-top: 25px;
	margin-left: 20px;
	float: left;
}

#header-icon {
	float: left;
	height: 100px;
	width: 64px;
	background-size: 100%;
	background-image: url('../images/whiteazkaban.png');
}

#header-text {
	float: left;
}

#header-name {
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #EEE;
	font-size: 30pt;
	text-shadow: rgba(255,255,255, 0.5) 0px 0px 10px;
	margin: 5px 0px 0px 5px;
}

#header-sub-name {
	margin: 0px 2px;
	font-weight: normal;
	color: #CCC;
}

#header-buttons {
	float: right;
	margin-top: 78px;
	margin-right: 10px;
}

#header-buttons .header-button {
	float: right;
	height: 48px;
	width: 50px;
}

#sourceLink .header-button {
	background-image: url('../images/azkaban-bigicons-white.png');
	background-position: 2px 49px;
}

#sourceLink .header-button:hover {
	background-position: -50px 49px;
}

#downloadLink .header-button {
	background-image: url('../images/azkaban-bigicons-white.png');
	background-position: 2px 98px;
}

#downloadLink .header-button:hover {
	background-position: -50px 98px;
}

#downloadLink .header-button {
	background-image: url('../images/azkaban-bigicons-white.png');
	background-position: 2px 98px;
}

#docsLink .header-button {
	background-image: url('../images/azkaban-bigicons-white.png');
	background-position: 2px 0px;
}

#docsLink .header-button:hover {
	background-position: -50px 0px;
}

#bugsLink .header-button {
	background-image: url('../images/azkaban-bigicons-white.png');
	background-position: 2px 148px;
}

#bugsLink .header-button:hover {
	background-position: -50px 148px;
}
/* navigation */
#navigation {
	float: left;
	width: 200px;
	background-color: #CCC;
}

#content {
	background-color: #DDD;
}

/* Template Content Styles */
#content {
	min-height: 200px;
	background-color: #FFF;
}


#block {
	background-color: #FFF;
}

#main {
	background-color: #FFF;
}