.headertabs {
	margin-top: 10px;
	margin-botton: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.headertabs ul li {
	float: right;

	padding: 2px 12px;
	margin-right: 1px;
	background-image: -o-linear-gradient(bottom, rgb(56,56,56) 33%, rgb(73,73,73) 66%);
	background-image: -moz-linear-gradient(bottom, rgb(56,56,56) 33%, rgb(73,73,73) 66%);
	background-image: -webkit-linear-gradient(bottom, rgb(56,56,56) 33%, rgb(73,73,73) 66%);
	background-image: -ms-linear-gradient(bottom, rgb(56,56,56) 33%, rgb(73,73,73) 66%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.33, rgb(56,56,56)), color-stop(0.66, rgb(73,73,73)) );
	background-image: linear-gradient(bottom, rgb(56,56,56) 33%, rgb(73,73,73) 66%);
	
	    
    -moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	border-style: solid;
  	border-width: 1px;
}

.headertabs ul li:hover {
	background-image: -o-linear-gradient(bottom, rgb(00,159,201) 33%, rgb(00,159,201) 66%);
	background-image: -moz-linear-gradient(bottom, rgb(00,159,201) 33%, rgb(00,159,201) 66%);
	background-image: -webkit-linear-gradient(bottom, rgb(00,159,201) 33%, rgb(00,159,201) 66%);
	background-image: -ms-linear-gradient(bottom, rgb(00,159,201) 33%, rgb(00,159,201) 66%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.33, rgb(00,159,201)), color-stop(0.66, rgb(00,159,201)) );
	background-image: linear-gradient(bottom, rgb(00,159,201) 33%, rgb(00,159,201) 66%);
}

/* Flow view tabs */
.headertabs ul li a {
    color: #FFFFFF;
    font-size: 10.5pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
}