svg .edge {
	stroke: #777;
	stroke-width: 2;
}

svg .edge:hover {
	stroke: #009FC9;
	stroke-width: 4;
}

svg .node.disabled {
	opacity: 0.3;
}

svg .node .backboard {
	fill: #FFF;
	opacity: 0.05;
}

svg .node:hover {
	cursor: pointer;
}

svg .node:hover .backboard {
	opacity: 0.7;
}

svg .selected .backboard {
	opacity: 0.4;
}

svg .node circle {
	fill: #888;
	stroke: #777;
	stroke-width: 2;
}

svg .node:hover circle {
	stroke: #009FC9;
}

svg .node:hover text {
	fill: #009FC9;
}

svg .selected text {
	fill: #338AB0;
}

svg .selected circle {
	stroke: #009FC9;
	stroke-width: 4;
}

svg .READY circle {
	fill: #CCC;
}

svg .RUNNING circle {
	fill: #009FC9;
}

svg .QUEUED circle {
	opacity: 0.5;
	fill: #009FC9;
}

svg .FAILED circle {
	fill: #CC0000;
}

svg .KILLED circle {
	fill: #CC0000;
}

svg .SUCCEEDED circle {
	fill: #00CC33;
}

svg .DISABLED circle {
	opacity: 0.3;
}

svg .SKIPPED circle {
	opacity: 0.3;
}

#Used for charts
svg circle.READY {
	stroke: #CCC;
	stroke-width: 2px;
	fill: #FFF;
}

svg circle.RUNNING {
	stroke: #009FC9;
	stroke-width: 2px;
	fill: #FFF;
}

svg circle.FAILED {
	stroke: #CC0000;
	stroke-width: 2px;
	fill: #FFF;
}

svg circle.KILLED {
	stroke: #CC0000;
	stroke-width: 2px;
	fill: #FFF;
}

svg circle.SUCCEEDED {
	stroke: #00CC33;
	stroke-width: 2px;
	fill: #FFF;
}

svg circle.DISABLED {
	stroke: #CCC;
	opacity: 0.3;
	stroke-width: 2px;
	fill: #FFF;
}

svg circle.SKIPPED {
	stroke: #CCC;
	opacity: 0.3;
	stroke-width: 2px;
	fill: #FFF;
}
