#*
 * Copyright 2012 LinkedIn, Inc
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#
<!DOCTYPE html> 
<html>
  <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/css/azkaban.css">    
    <link rel="shortcut icon" href="${context}/favicon.ico" />
	<script type="text/javascript" src="${context}/js/jquery/jquery.js"></script>    
	<script type="text/javascript" src="${context}/js/namespace.js"></script>
	<script type="text/javascript" src="${context}/js/underscore-1.2.1-min.js"></script>
	<script type="text/javascript" src="${context}/js/backbone-0.5.3-min.js"></script>
    #parse( "azkaban/webapp/servlet/velocity/style.vm" )
	<script type="text/javascript">
		var contextURL = "${context}";
	</script>
  </head>
  <body>
    <div class="header">
    #parse("azkaban/webapp/servlet/admin/velocity/title.vm" )
    </div>
    <div class="shadow-box admin">
    	<div id="all-jobs-content">
			<div class="section-hd">
				<h2>Initial Azkaban Setup</h2>
			</div>
		</div>
		<div class="comment">
			To get started with Azkaban, there are a few things we need to get done.
			
			<ul class="admin-setup-points">
				<li>Setup Database</li>
				<li>Setup Authentication</li>
				<li>Create Config Files</li>
			</ul>
		</div>
		<div class="shadow-box-footer">
    	  <a href="${context}?dbsetup" class="btn2 button1">Continue</a>
    	</div>

    </div>
  </body>
</html>

