<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<title>{{ page.title }}</title>

		{% include includes.html %}
	</head>
	<body>
		{% include header-home.html %}

		<div class="jumbotron jumbotron-feature">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>{{ site.tagline }}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<img src="/{{ site.image }}" alt="{{ page.title }}" class="homepage-image">
					</div>
				</div>
			</div>
		</div>

		<div class="feature-buttons">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="http://github.com/{{ site.repo }}" class="btn btn-lg btn-default" role="button">View on GitHub</a>
						<a href="https://azkaban.readthedocs.io" class="btn btn-lg btn-primary" role="button">View Documentation</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container feature-content">
			{{ content }}
		</div>

		{% include footer.html %}
	</body>
</html>

