#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html> 
<html>
	<head>
#parse( "azkaban/webapp/servlet/velocity/style.vm" )
		<script type="text/javascript" src="${context}/js/jquery/jquery-1.9.1.js"></script>    
		<script type="text/javascript" src="${context}/js/jqueryui/jquery-ui-1.10.1.custom.js"></script>
		<script type="text/javascript" src="${context}/js/underscore-1.4.4-min.js"></script>
		<script type="text/javascript" src="${context}/js/namespace.js"></script>
		<script type="text/javascript" src="${context}/js/backbone-0.9.10-min.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.simplemodal-1.4.4.js"></script>

		<script type="text/javascript" src="${context}/js/azkaban.date.utils.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.context.menu.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.ajax.utils.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.job.status.utils.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.nav.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.layout.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.flow.job.view.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.svg.graph.view.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.exflow.view.js"></script>
		<script type="text/javascript" src="${context}/js/svgNavigate.js"></script>
		<script type="text/javascript">
			var contextURL = "${context}";
			var currentTime = ${currentTime};
			var timezone = "${timezone}";
			var errorMessage = null;
			var successMessage = null;;
			var projectId = "${projectId}";
			var projectName = "${projectName}";
			var flowId = "${flowid}";
			var execId = "${execid}";
		</script>
		<link rel="stylesheet" type="text/css" href="${context}/css/jquery-ui-1.10.1.custom.css" />
	</head>
	<body>
#set($current_page="all")
#set($show_schedule="false")

#parse( "azkaban/webapp/servlet/velocity/nav.vm" )
		<div class="messaging"><p id="messageClose">X</p><p id="message"></p></div>  
		<div class="content">
#if($errorMsg)
				<div class="box-error-message">$errorMsg</div>
#else
#if($error_message != "null")
				<div class="box-error-message">$error_message</div>
#elseif($success_message != "null")
				<div class="box-success-message">$success_message</div>
#end

				<div id="all-jobs-content">
					<div class="section-hd flow-header">
						<h2><a href="${context}/executor?execid=${execid}">Flow Execution <span>$execid</span></a></h2>
						<div class="section-sub-hd">
							<h4><a href="${context}/manager?project=${projectName}">Project <span>$projectName</span></a></h4>
							<h4 class="separator">&gt;</h4>
							<h4><a href="${context}/manager?project=${projectName}&flow=${flowid}">Flow <span>$flowid</span></a></h4>
						</div>
					</div>
					
					<div id="headertabs" class="headertabs">
						<ul>
							<li><a id="graphViewLink" href="#graph">Graph</a></li>
							<li class="lidivider">|</li>
							<li><a id="jobslistViewLink" href="#jobslist">Job List</a></li>
							<li class="lidivider">|</li>
							<li><a id="flowLogViewLink" href="#log">Flow Log</a></li>
						</ul>
						<ul id="actionsBtns" class="buttons">
							<li><div id="pausebtn" class="btn2">Pause</div></li>
							<li><div id="resumebtn" class="btn2">Resume</div></li>
							<li><div id="cancelbtn" class="btn6">Cancel</div></li>
							<li><div id="retrybtn" class="btn1">Retry Failed</div></li>
							<li><div id="executebtn" class="btn1">Prepare Execution</div></li>
						</ul>
					</div>
					<div id="graphView">
						<div class="relative">
							<div id="jobList" class="jobList">
								<div id="filterList" class="filterList">
									<input id="filter" class="filter" placeholder="  Job Filter" />
								</div>
								<div id="list" class="list">
								</div>
								<div id="resetPanZoomBtn" class="btn5 resetPanZoomBtn" >Reset Pan Zoom</div>
							</div>
							<div id="svgDiv" class="svgDiv">
								<svg id="svgGraph" class="svgGraph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed" >
								</svg>
							</div>
						</div>
					</div>
					<div id="jobListView" class="executionInfo">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th class="timeline">Timeline</th>
									<th class="date">Start Time</th>
									<th class="date">End Time</th>
									<th class="elapse">Elapsed</th>
									<th class="status">Status</th>
									<th class="logs">Logs</th>
								</tr>
							</thead>
							<tbody id="executableBody">
							</tbody>
						</table>
					</div>
					<div id="flowLogView" class="logView">
						<div class="logHeader"><div class="logButtonRow"><div id="updateLogBtn" class="btn7">Refresh</div></div></div>
						<div class="logViewer">
							<pre id="logSection" class="log"></pre>
						</div>
					</div>
				</div>
				
				<div id="flow-status">
					<table class="status">
						<tr><td class="first">Status</td><td id="flowStatus">-</td></tr>
						<tr><td class="first">Submit User</td><td id="submitUser">-</td></tr>
					</table>
					<table class="time">
						<tr><td class="first">Start Time</td><td id="startTime">-</td></tr>
						<tr><td class="first">End Time</td><td id="endTime">-</td></tr>
						<tr><td class="first">Duration</td><td id="duration">-</td></tr>
					</table>
				</div>

#parse( "azkaban/webapp/servlet/velocity/flowexecutionpanel.vm" )
#end
		</div>

		
		<div id="messageDialog" class="modal">
			<h3 id="messageTitle">Error</h3>
			<div class="messageDiv">
				<p id="messageBox"></p>
			</div>
		</div>
		
		<div id="invalid-session" class="modal">
			<h3>Invalid Session</h3>
			<p>Session has expired. Please re-login.</p>
			<div class="actions">
				<a class="yes btn2" id="login-btn" href="#">Re-login</a>
			</div>
		</div>
		
		<div id="contextMenu">
		</div>
		#parse( "azkaban/webapp/servlet/velocity/messagedialog.vm" )
	</body>
</html>

