<!DOCTYPE html> 
<html>
	<head>
#parse( "azkaban/webapp/servlet/velocity/style.vm" )
		<script type="text/javascript" src="${context}/js/jquery/jquery.js"></script>    
		<script type="text/javascript" src="${context}/js/jqueryui/jquery-ui.custom.min.js"></script>   
		<script type="text/javascript" src="${context}/js/namespace.js"></script>
		<script type="text/javascript" src="${context}/js/underscore-1.2.1-min.js"></script>
		<script type="text/javascript" src="${context}/js/backbone-0.5.3-min.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.simplemodal.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.contextMenu.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.nav.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.layout.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.exflow.view.js"></script>
		<script type="text/javascript" src="${context}/js/svgNavigate.js"></script>
		<script type="text/javascript">
			var contextURL = "${context}";
			var currentTime = ${currentTime};
			var timezone = "${timezone}";
			var errorMessage = "${error_message}";
			var successMessage = "${success_message}";
			
			var projectName = "${projectName}";
			var flowName = "${flowid}";
			var execId = "${execid}";
		</script>
		<link rel="stylesheet" type="text/css" href="${context}/css/jquery.contextMenu.custom.css" /> 
	</head>
	<body>
#set($current_page="all")
#parse( "azkaban/webapp/servlet/velocity/nav.vm" )
		<div class="messaging"><p id="messageClose">X</p><p id="message"></p></div>  
		<div class="content">
#if($errorMsg)
				<div class="box-error-message">$errorMsg</div>
#else
#if($error_message != "null")
				<div class="box-error-message">$error_message</div>
#elseif($success_message != "null")
				<div class="box-success-message">$success_message</div>
#end

				<div id="all-jobs-content">
					<div class="section-hd">
						<h2><a href="${context}/executor?execid=${execid}">Execution <span>$execid</span></a></h2>
						<div class="section-sub-hd">
							<h4><a href="${context}/manager?project=${projectName}">Project <span>$projectName</span></a></h4>
							<h4 class="separator">&gt;</h4>
							<h4><a href="${context}/manager?project=${projectName}&flow=${flowid}">Flow <span>$flowid</span></a></h4>
						</div>
					</div>
					
					<div id="headertabs" class="headertabs">
						<ul>
							<li><a id="graphViewLink" href="#graph">Graph</a></li>
							<li class="lidivider">|</li>
							<li><a id="jobslistViewLink" href="#jobslist">Job List</a></li>
						</ul>
					</div>
					<div id="graphView">
						<div class="relative">
							<div id="jobList">
								<div id="filterList">
									<input id="filter" placeholder="  Job Filter" />
								</div>
								<div id="list">
								</div>
								<div id="resetPanZoomBtn" class="btn5" >Reset Pan Zoom</div>
							</div>
							<div id="svgDiv" >
								<svg id="svgGraph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed" >
								</svg>
							</div>
						</div>
					</div>
					<div id="jobListView">
					<p>This is my joblist view</p>
					</div>
				</div>
#end
		<ul id="jobMenu" class="contextMenu">  
			<li class="open"><a href="#open">Open...</a></li>
			<li class="openwindow"><a href="#openwindow">Open in New Window...</a></li>
		</ul>

		</div>
	</body>
</html>

