#*
 * Copyright 2012 LinkedIn, Inc
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html> 
<html>
	<head>
#parse( "azkaban/webapp/servlet/velocity/style.vm" )
		<script type="text/javascript" src="${context}/js/jquery/jquery.js"></script>    
		<script type="text/javascript" src="${context}/js/jqueryui/jquery-ui.custom.min.js"></script>
		<script type="text/javascript" src="${context}/js/jqueryui/jquery.ui.datepicker.min.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.date.utils.js"></script>  
		<script type="text/javascript" src="${context}/js/namespace.js"></script>
		<script type="text/javascript" src="${context}/js/underscore-1.2.1-min.js"></script>
		<script type="text/javascript" src="${context}/js/backbone-0.5.3-min.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.simplemodal.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.contextMenu.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.ajax.utils.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.nav.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.layout.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.flow.job.view.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.flow.graph.view.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.flow.view.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.exflow.options.view.js"></script>
		<script type="text/javascript" src="${context}/js/svgNavigate.js"></script>
		<script type="text/javascript">
			var contextURL = "${context}";
			var currentTime = ${currentTime};
			var timezone = "${timezone}";
			var errorMessage = null;
			var successMessage = null;
			
			var projectId = ${project.id};
			var projectName = "${project.name}";
			var flowName = "${flowid}";
			var execId = null;
		</script>
		<link rel="stylesheet" type="text/css" href="${context}/js/jqueryui/themes/custom-theme/jquery-ui.custom.css" />
		<link rel="stylesheet" type="text/css" href="${context}/css/jquery.contextMenu.custom.css" />
	</head>
	<body>
#set($current_page="all")
#parse( "azkaban/webapp/servlet/velocity/nav.vm" )
		<div class="messaging"><p id="messageClose">X</p><p id="message"></p></div>  
		<div class="content">
#if($errorMsg)
				<div class="box-error-message">$errorMsg</div>
#else
#if($error_message != "null")
				<div class="box-error-message">$error_message</div>
#elseif($success_message != "null")
				<div class="box-success-message">$success_message</div>
#end

				<div id="all-jobs-content">
					<div class="section-hd flow-header">
						<h2><a href="${context}/manager?project=${project.name}&flow=${flowid}">Flow <span>$flowid</span></a></h2>
						<div class="section-sub-hd">
							<h4><a href="${context}/manager?project=${project.name}">Project <span>$project.name</span></a></h4>
						</div>
						
						<div id="executebtn" class="btn1">Prepare Execution</div>
						<div id="scheduleflowbtn" class="btn2 scheduleflow">Schedule Flow</div>
					</div>
					
					<div id="headertabs" class="headertabs">
						<ul>
							<li><a id="graphViewLink" href="#graph">Graph</a></li>
							<li class="lidivider">|</li>
							<li><a id="executionsViewLink" href="#executions">Executions</a></li>
						</ul>
					</div>
					<div id="graphView">
						<div class="relative">
							<div id="jobList" class="jobList">
								<div id="filterList" class="filterList">
									<input id="filter" class="filter" placeholder="  Job Filter" />
								</div>
								<div id="list" class="list">
								</div>
								<div id="resetPanZoomBtn" class="btn5 resetPanZoomBtn" >Reset Pan Zoom</div>
							</div>
							<div id="svgDiv" class="svgDiv">
								<svg id="svgGraph" class="svgGraph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed" >
								</svg>
							</div>
						</div>
					</div>
					<div id="executionsView">
						<div id="executionDiv" class="all-jobs executionInfo">
							<table id="execTable">
								<thead>
									<tr>
										<th>Execution Id</th>
										<th>User</th>
										<th class="date">Start Time</th>
										<th class="date">End Time</th>
										<th class="elapse">Elapsed</th>
										<th class="status">Status</th>
										<th class="action">Action</th>
									</tr>
								</thead>
								<tbody id="execTableBody">
								</tbody>
							</table>
						</div>
					
						<div id="pageSelection">
							<ul>
								<li id="previous" class="first"><a><span class="arrow">&larr;</span>Previous</a></li>
								<li id="page1"><a href="#page1">1</a></li>
								<li id="page2"><a href="#page2">2</a></li>
								<li id="page3"><a href="#page3">3</a></li>
								<li id="page4"><a href="#page4">4</a></li>
								<li id="page5"><a href="#page5">5</a></li>
								<li id="next"><a>Next<span class="arrow">&rarr;</span></a></li>
							</ul>
						</div>
					</div>
				</div>
		<!-- modal content -->
				<div id="advScheduleModalBackground" class="modalBackground2">
					<div id="schedule-options" class="modal modalContainer2">
						<a href='#' title='Close' class='modal-close'>x</a>
							<h3>Advanced Schedule Options</h3>
							<div>
								<ul class="optionsPicker">
									<li id="scheduleGeneralOptions">General Options</li>
									<li id="scheduleFlowOptions">Flow Options</li>
									<li id="scheduleSlaOptions">SLA Options</li>
								</ul>
							</div>
							<div class="optionsPane">
						<div id="scheduleSlaPanel" class="generalPanel panel">
							<div id="slaActions">
								<h4>SLA Alert Emails</h4>
								<dl>
									<dt >SLA Alert Emails</dt>
									<dd>
										<textarea id="slaEmails"></textarea>
									</dd>
								</dl>
							</div>
							<div id="slaRules">
								<h4>Flow SLA Rules</h4>
								<div class="tableDiv">
									<table id="flowRulesTbl">
										<thead>
											<tr>
												<th>Flow/Job</th>
												<th>Finish In</th>
												<th>Email Action</th>
												<th>Kill Action</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<h4>Job SLA Rules</h4>
								<div class="tableDiv">
									<table id="jobRulesTbl">
										<thead>
											<tr>
												<th>Flow/Job</th>
												<th>Finish In</th>
												<th>Email Action</th>
												<th>Kill Action</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="scheduleGeneralPanel" class="generalPanel panel">
							<div id="scheduleBasicInfo">
								<h4>Basic Scheduling Information</h4>
								<dl>
								<dt>Schedule Time</dt>
									<dd>
										<input id="advHour" type="text" size="2" value="12"/>
										<input id="advMinutes" type="text" size="2" value="00"/>
										<select id="advAm_pm">
											<option>pm</option>
											<option>am</option>
										</select>
										<select id="advTimezone">
											<option>PDT</option>
											<option>UTC</option>
										</select>
									</dd>
									<dt>Schedule Date</dt>
									<dd><input type="text" id="advDate" /></dd>
									<dt>Recurrence</dt>
									<dd>
										<input id="advIs_recurring" type="checkbox" checked  /><span>repeat every</span>
										<input id="advPeriod" type="text" size="2" value="1"/>
										<select id="advPeriod_units">
											<option value="d">Days</option>
											<option value="h">Hours</option>
											<option value="m">Minutes</option>
											<option value="M">Months</option>
											<option value="w">Weeks</option>
										</select>
									</dd>
								</dl>
							</div>
							<div id="scheduleCompleteActions">
								<h4>Completion Actions</h4>
								<dl>
									<dt class="disabled">Failure Action</dt>
									<dd>
										<select id="scheduleFailureAction" name="failureAction">
											<option value="finishCurrent">Finish Current Running</option>
											<option value="cancelImmediately">Cancel All</option>
											<option value="finishPossible">Finish All Possible</option>
										</select>
									</dd>
									<dt>Failure Email</dt>
									<dd>
										<textarea id="scheduleFailureEmails"></textarea>
									</dd>
									<dt>Notify on Failure</dt>
									<dd>
										<input id="scheduleNotifyFailureFirst" class="checkbox" type="checkbox" name="notify" value="first" checked >First Failure</input>
										<input id="scheduleNotifyFailureLast" class="checkbox" type="checkbox" name="notify" value="last">Flow Stop</input>
									</dd>
									<dt>Success Email</dt>
									<dd>
										<textarea id="scheduleSuccessEmails"></textarea>
									</dd>
									<dt class="disabled" >Concurrent Execution</dt>
									<dd id="scheduleExecutingJob" class="disabled">
										<input id="scheduleIgnore" class="radio" type="radio" name="concurrent" value="ignore" checked /><label class="radioLabel" for="ignore">Run Concurrently</label>
										<input id="schedulePipeline" class="radio" type="radio" name="concurrent" value="pipeline" /><label class="radioLabel" for="pipeline">Pipeline</label>
										<input id="scheduleQueue" class="radio" type="radio" name="concurrent" value="queue" /><label class="radioLabel" for="queue">Queue Job</label>
									</dd>
								</dl>
							</div>
							<div id="scheduleFlowPropertyOverride">
								<h4>Flow Property Override</h4>
								<div class="tableDiv">
									<table>
										<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr id="scheduleAddRow"><td id="scheduleAddRow-col" colspan="2"><span class="addIcon"></span><a href="#">Add Row</a></td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="scheduleGraphPanel" class="graphPanel panel">
							<div id="scheduleJobListCustom" class="jobList">
								<div class="filterList">
									<input class="filter" placeholder="  Job Filter" />
								</div>
								<div class="list">
								</div>
								<div class="btn5 resetPanZoomBtn" >Reset Pan Zoom</div>
							</div>
						    <div id="scheduleSvgDivCustom" class="svgDiv" >
						    	<svg class="svgGraph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed" >
								</svg>
							</div>
						</div>
					</div>
						<div class="actions">
							<a class="yes btn1" id="adv-schedule-btn" href="#">Schedule</a>
							<a class="no simplemodal-close btn3" id="schedule-cancel-btn" href="#">Cancel</a>
					</div>
					</div>
				</div>
		
				<div id="schedule-flow" class="modal">
                        <h3>Schedule Flow</h3>
                        <div id="errorMsg" class="box-error-message">$errorMsg</div>

						<div class="box">
                                        <form id="sched-form" method="post" action="${context}/">
                                                <div class="sched-form">
                                                	<dl>
                                                		<dt>Schedule Time</dt>
                                            			<dd>
                                            				<input id="hour" type="text" size="2" value="12"/>
                                            				<input id="minutes" type="text" size="2" value="00"/>
															<select id="am_pm">
		                                                      <option>pm</option>
		                                                      <option>am</option>
		                                                    </select>
		                                                    <select id="timezone">
		                                                      <option>PDT</option>
		                                                      <option>UTC</option>
		                                                    </select>
                                            			</dd>
                                                		<dt>Schedule Date</dt><dd><input type="text" id="datepicker" /></dd>
                                                		<dt>Recurrence</dt>
                                                		<dd>
                                                			<input id="is_recurring" type="checkbox" checked  />
                                                			<span>repeat every</span>
                                            			 	<input id="period" type="text" size="2" value="1"/>
		                                                    <select id="period_units">
		                                                      <option value="d">Days</option>
		                                                      <option value="h">Hours</option>
		                                                      <option value="m">Minutes</option>
		                                                      <option value="M">Months</option>
		                                                      <option value="w">Weeks</option>
		                                                    </select>
                                                		</dd>
                                                	</dl>

                                                </div>

                                        </form>
                        </div>
                                

                        <div class="actions">
                                <a class="yes btn2" id="schedule-btn" href="#">Schedule The Flow</a>
                                <a class="no simplemodal-close btn3" href="#">Cancel</a>
                                <a class="btn2" id="adv-schedule-opt-btn" href="#">Advanced Schedule Options</a>
                        </div>
                </div>
                <div id="invalid-session" class="modal">
                        <h3>Invalid Session</h3>
                        <p>Session has expired. Please re-login.</p>
                        <div class="actions">
                                <a class="yes btn3" id="login-btn" href="#">Re-login</a>
                        </div>
                </div>
                
                <div id="modalBackground" class="modalBackground2">
	                <div id="executing-options" class="modal modalContainer2">
	                	<a href='#' title='Close' class='modal-close'>x</a>
	                		<h3>Executing Flow Options</h3>
	                		<div>
	                			<ul class="optionsPicker">
	                				<li id="generalOptions">General Options</li>
	                				<li id="flowOptions">Flow Options</li>
	                			</ul>
	                		</div>
	                		<div class="optionsPane">
	                			<div id="generalPanel" class="generalPanel panel">
	                				<div id="completeActions">
	                					<h4>Completion Actions</h4>
		                				<dl>
		                					<dt class="disabled">Failure Action</dt>
		                					<dd>
		                						<select id="failureAction" name="failureAction">
		                							<option value="finishCurrent">Finish Current Running</option>
		                							<option value="cancelImmediately">Cancel All</option>
		                							<option value="finishPossible">Finish All Possible</option>
		                						</select>
											</dd>
		                					<dt>Failure Email</dt>
		                					<dd>
		                						<textarea id="failureEmails"></textarea>
		                					</dd>
		                					<dt>Notify on Failure</dt>
		                					<dd>
		                						<input id="notifyFailureFirst" class="checkbox" type="checkbox" name="notify" value="first" checked >First Failure</input>
		                						<input id="notifyFailureLast" class="checkbox" type="checkbox" name="notify" value="last">Flow Stop</input>
		                					</dd>
		                					<dt>Success Email</dt>
		                					<dd>
		                						<textarea id="successEmails"></textarea>
		                					</dd>
		                					<dt class="disabled" >Concurrent Execution</dt>
		                					<dd id="executingJob" class="disabled">
		                						<input id="ignore" class="radio" type="radio" name="concurrent" value="ignore" checked /><label class="radioLabel" for="ignore">Run Concurrently</label>
		                						<input id="pipeline" class="radio" type="radio" name="concurrent" value="pipeline" /><label class="radioLabel" for="pipeline">Pipeline</label>
		                						<input id="queue" class="radio" type="radio" name="concurrent" value="queue" /><label class="radioLabel" for="queue">Queue Job</label>
		                					</dd>
		                				</dl>
	                				</div>
	                				<div id="flowPropertyOverride">
	                					<h4>Flow Property Override</h4>
	                					<div class="tableDiv">
		                					<table>
		                						<thead>
		                							<tr>
			                							<th>Name</th>
			                							<th>Value</th>
			                						</tr>
		                						</thead>
		                						<tbody>
		                							<tr id="addRow"><td id="addRow-col" colspan="2"><span class="addIcon"></span><a href="#">Add Row</a></td></tr>
		                						</tbody>
		                					</table>
	                					</div>
	                				</div>
	                			</div>
								<div id="graphPanel" class="graphPanel panel">
									<div id="jobListCustom" class="jobList">
										<div class="filterList">
											<input class="filter" placeholder="  Job Filter" />
										</div>
										<div class="list">
										</div>
										<div class="btn5 resetPanZoomBtn" >Reset Pan Zoom</div>
									</div>
								    <div id="svgDivCustom" class="svgDiv" >
								    	<svg class="svgGraph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed" >
										</svg>
									</div>
		                        </div>
	                        </div>
                    		<div class="actions">
	                                <a class="yes btn1" id="execute-btn" href="#">Execute Now</a>
	                                <a class="no simplemodal-close btn3" id="cancel-btn" href="#">Cancel</a>
	                        </div>
	                </div>
                </div>
                
#end
		<ul id="jobMenu" class="contextMenu">  
			<li class="open"><a href="#open">Open...</a></li>
			<li class="openwindow"><a href="#openwindow">Open in New Window...</a></li>
		</ul>

		<ul id="disableJobMenu" class="contextMenu flowSubmenu">  
			<li class="openwindow"><a href="#openwindow">Open in New Window...</a></li>
			<li id="disable" class="disable separator"><a href="#disable">Disable</a><div id="disableArrow" class="context-sub-icon"></div></li>
			<ul id="disableSub" class="subMenu">
				<li class="disableAll"><a href="#disableAll">All</a></li>
				<li class="parents"><a href="#disableParents">Parents</a></li>
				<li class="ancestors"><a href="#disableAncestors">All Ancestors</a></li>
				<li class="children"><a href="#disableChildren">Children</a></li>
				<li class="decendents"><a href="#disableDescendents">All Descendents</a></li>
			</ul>
			<li id="enable" class="enable"><a href="#enable">Enable</a> <div id="enableArrow" class="context-sub-icon"></div></li>
			<ul id="enableSub" class="subMenu">
				<li class="enableAll"><a href="#enableAll">All</a></li>
				<li class="parents"><a href="#enableParents">Parents</a></li>
				<li class="ancestors"><a href="#enableAncestors">All Ancestors</a></li>
				<li class="children"><a href="#enableChildren">Children</a></li>
				<li class="decendents"><a href="#enableDescendents">All Descendents</a></li>
			</ul>
		</ul>

		</div>
	</body>
</html>

