#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html> 
<html>
	<head>
#parse( "azkaban/webapp/servlet/velocity/style.vm" )
		<script type="text/javascript" src="${context}/js/jquery/jquery-1.9.1.js"></script>    
		<script type="text/javascript" src="${context}/js/jqueryui/jquery-ui-1.10.1.custom.js"></script>
		<script type="text/javascript" src="${context}/js/underscore-1.4.4-min.js"></script>
		<script type="text/javascript" src="${context}/js/namespace.js"></script>
		<script type="text/javascript" src="${context}/js/backbone-0.9.10-min.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.simplemodal-1.4.4.js"></script>

		<script type="text/javascript" src="${context}/js/azkaban.nav.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.jobedit.view.js"></script>
		<link rel="stylesheet" type="text/css" href="${context}/css/jquery-ui-1.10.1.custom.css" />
		<script type="text/javascript">
			var contextURL = "${context}";
			var currentTime = ${currentTime};
			var timezone = "${timezone}";
			var errorMessage = null;
			var successMessage = null;
			
			var projectId = "$project.id";
			var projectName = "$project.name";
		</script>
	</head>
	<body>
#set($current_page="all")
#parse( "azkaban/webapp/servlet/velocity/nav.vm" )
		<div class="messaging"><p id="messageClose">X</p><p id="message"></p></div>  

#if($errorMsg)
		<div class="box-error-message">$errorMsg</div>
#else
	<div class="content">
	#if($error_message != "null")
			<div class="box-error-message">$error_message</div>
	#elseif($success_message != "null")
			<div class="box-success-message">$success_message</div>
	#end
			<div id="all-jobs-content">
				<div class="section-hd">
					<h2><a href="${context}/manager?project=${project.name}&flow=${flowid}&job=${jobid}">Job <span>$jobid</span></a></h2>
					<div class="section-sub-hd">
						<h4><a href="${context}/manager?project=${project.name}">Project <span>$project.name</span></a></h4>
						<h4 class="separator">&gt;</h4>
						<h4><a href="${context}/manager?project=${project.name}&flow=${flowid}">Flow <span>$flowid</span></a></h4>
					</div>
					
					<a id="jobs-logs-btn" class="btn2" href="${context}/manager?project=${project.name}&job=$jobid&history">Job History</a>
					<a id="edit-job-btn" class="btn1" onclick='jobEditView.show("${project.name}", "${flowid}", "${jobid}")'>Job Edit</a>
				</div>
			</div>
			
			<div id="job-summary">
				<table class="summary-table">
					<tr><td class="first">Type:</td><td>$jobtype</td></tr>
					<tr><td class="first">Dependencies:</td><td>
#if ($dependencies) 
#foreach($dependency in $dependencies)
	<a href="${context}/manager?project=${project.name}&flow=${flowid}&job=$dependency">$dependency</a>
#end
#else
	<span>No Dependencies</span>
#end
					</td></tr>
					<tr><td class="first">Dependents:</td><td>
#if ($dependents) 
#foreach($dependent in $dependents)
						<span class="nowrap"><a href="${context}/manager?project=${project.name}&flow=${flowid}&job=$dependent">$dependent</a></span>
#end
#else
						<span>No Dependencies</span>
#end
					</td></tr>
					<tr><td class="first">Properties:</td><td>
#if ($properties) 
#foreach($property in $properties)
						<!--a>$property</a><span>,</span-->
						<span class="nowrap"><a href="${context}/manager?project=${project.name}&flow=${flowid}&job=${jobid}&prop=$property">$property</a></span>
#end
#else
						<span>No Property Files For This Job</span>
#end
					</td></tr>
				</table>
			</div>
			
			<table id="all-jobs" class="all-jobs job-table parameters">
				<thead>
					<tr>
						<th class="tb-pname">Parameter Name</th>
						<th class="tb-pvalue">Value</th>
					</tr>
				</thead>
				<tbody>
#foreach($parameter in $parameters)
					<tr>
						<td class="first">$parameter.first</td><td>$parameter.second</td>
					</tr>
#end
				</tbody>
			</table>
	</div>

#end

		<!-- modal content -->

		<div id="jobEditModalBackground" class="modalBackground2">
			<div id="job-edit-pane" class="modal modalContainer2">
				<a href='#' title='Close' class='modal-close'>x</a>
					<h3>Job Description Edit</h3>					
					<div class="optionsPane">
						<div id="generalPanel" class="generalPanel panel">
							<div id="mustHave">
								<h4>Job Essentials</h4>
								<dl>
									<dt>Job Name</dt>
									<dd>
										<label id="jobName"></label>
									</dd>
									<dt>Job Type</dt>
									<dd>
										<label id="jobType"></label>
									</dd>
								</dl>
							</div>
							<br></br>
							<!--div id="jobTypeSpecific">
								<h4>Job Type Specific parameters</h4>
							</div-->
							<div id="generalJobSetting">
								<h4>General Job Settings (Be Aware: A Job May Be Shared By Multiple Flows. The Change Will Be Global!)</h4>
								<div class="tableDiv">
									<table id="generalProps">
										<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr id="addRow"><td id="addRow-col" colspan="2"><span class="addIcon"></span><a href="#">Add Row</a></td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="actions">
						<a class="yes btn1" id="set-btn" >Set/Change Job Description</a>
						<a class="no simplemodal-close btn3" id="cancel-btn" >Cancel</a>
					</div>
			</div>
		</div>
	</body>
</html>
