#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

					<div class="well" id="job-summary">
						<h3>Job <small>$jobid</small></h3>
						<p><strong>Job Type</strong> $jobtype</p>
					</div>

	## Dependencies

					<div class="panel panel-default">
						<div class="panel-heading">Dependencies</div>
						<ul class="list-group">
	#if ($dependencies) 
		#foreach($dependency in $dependencies)
							<li class="list-group-item">
								<a href="${context}/manager?project=${project.name}&flow=${flowid}&job=$dependency">$dependency</a>
							</li>
		#end
	#else
							<li class="list-group-item">No Dependencies</li>
	#end
						</ul>
					</div><!-- /panel -->

	## Dependents

					<div class="panel panel-default">
						<div class="panel-heading">Dependents</div>
						<ul class="list-group">
	#if ($dependents) 
		#foreach($dependent in $dependents)
							<li class="list-group-item">
								<a href="${context}/manager?project=${project.name}&flow=${flowid}&job=$dependent">$dependent</a>
							</li>
		#end
	#else
							<li class="list-group-item">No Dependencies</li>
	#end

						</ul>
					</div><!-- /panel -->

					<div class="panel panel-default">
						<div class="panel-heading">Properties</div>
						<ul class="list-group">
	#if ($properties) 
		#foreach($property in $properties)
							<li class="list-group-item">
								<a href="${context}/manager?project=${project.name}&flow=${flowid}&job=${jobid}&prop=$property">$property</a>
							</li>
		#end
	#else
							<li class="list-group-item">No Property Files For This Job</li>
	#end
						</ul>
					</div><!-- /panel -->
