#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#
<!DOCTYPE html> 
<html>
  <head>
    <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/css/azkaban.css">    
    <link rel="shortcut icon" href="${context}/favicon.ico" />
	<script type="text/javascript" src="${context}/js/jquery/jquery-1.9.1.js"></script>    
	<script type="text/javascript" src="${context}/js/underscore-1.4.4-min.js"></script>
	<script type="text/javascript" src="${context}/js/namespace.js"></script>
	<script type="text/javascript" src="${context}/js/backbone-0.9.10-min.js"></script>
	<script type="text/javascript" src="${context}/js/jquery.simplemodal-1.4.4.js"></script>

    <script type="text/javascript" src="${context}/js/azkaban.login.js"></script>
    #parse( "azkaban/webapp/servlet/velocity/style.vm" )
	<script type="text/javascript">
		var contextURL = "${context}";
	</script>
  </head>
  <body>
    <div class="header">
    #parse("azkaban/webapp/servlet/velocity/title.vm" )
    </div>
    
    <div id="login" class="shadow-box">
    	<div class="shadow-box-header">
    		<div class="box-title">Login</div>
 		</div>
    	<br>
    	<div id="errorMsg" class="box-error-message">$errorMsg</div>
    	<div id="loginForm" class="login-form">
    	    <div id="login-password">
		    	<p class="login-label">Username</p>
		    	<input id="username" type="text" name="username" class="login-textbox" ></input>
	
				<br/>
		    	<p class="login-label">Password</p>
		    	<input id="password" type="password" name="password" class="login-textbox"></input>
			</div>

	    	<div class="shadow-box-footer">
	    	  <div id="loginSubmit" class="btn2 button1" class="login-submit">Login</div>
	    	</div>
    	</div>
    </div>
  </body>
</html>

