#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#
		<div id="header" class="header">
#parse( "azkaban/webapp/servlet/velocity/title.vm" )
			<script type="text/javascript">
				function navMenuClick(url) {
					window.location.href=url;
				}

			</script>

			<ul id="nav" class="nav">
				<li id="all-jobs-tab" #if($current_page == 'all')class="selected"#end onClick="navMenuClick('$!context/index')"><a href="$!context/index">Projects</a></li>
				<li id="scheduled-jobs-tab" #if($current_page == 'schedule')class="selected"#end onClick="navMenuClick('$!context/schedule')"><a href="$!context/schedule">Scheduled</a></li>

				<!--li id="triggers-tab" #if($current_page == 'triggers')class="selected"#end onClick="navMenuClick('$!context/triggers')"><a href="$!context/triggers">Triggers</a></li-->

				<li id="executing-jobs-tab" #if($current_page == 'executing')class="selected"#end onClick="navMenuClick('$!context/executor')"><a href="$!context/executor">Executing</a></li>
				<li id="history-jobs-tab" #if($current_page == 'history')class="selected"#end onClick="navMenuClick('$!context/history')"><a href="$!context/history">History</a></li>
				
				#foreach($viewer in $viewers)
					#if(!$viewer.hidden)
					<li #if($current_page == $viewer.pluginName) class="selected"#end onClick="navMenuClick('$!context/$viewer.pluginPath')">
						<a href="$!context/$viewer.pluginPath">$viewer.pluginName</a>
					</li>
					#end
				#end
				
				#foreach($triggerPlugin in $triggerPlugins)
					#if(!$triggerPlugin.hidden)
					<li #if($current_page == $triggerPlugin.pluginName) class="selected"#end onClick="navMenuClick('$!context/$triggerPlugin.pluginPath')">
						<a href="$!context/$triggerPlugin.pluginPath">$triggerPlugin.pluginName</a>
					</li>
					#end
				#end
				
			</ul>
			
			<div id="user-id">
				<a>${user_id}<div id="user-down"></div></a>    
				<div id="user-menu">
					<ul><li><a id="logout" href="$!context?logout">logout</a></li></ul>
				</div>
			</div>
		</div>
