#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
#parse("azkaban/webapp/servlet/velocity/title2.vm")
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
						<li#if($current_page == 'all') class="active"#end><a href="$!context/index">Projects</a></li>
						<li#if($current_page == 'schedule') class="active"#end><a href="$!context/schedule">Scheduling</a></li>
						<!--<li#if($current_page == 'triggers') class="active"#end><a href="$!context/triggers">Triggers</a></li>-->
						<li#if($current_page == 'executing') class="active"#end><a href="$!context/executor">Executing</a></li>
						<li#if($current_page == 'history') class="active"#end><a href="$!context/history">History</a></li>
#foreach($viewer in $viewers)
	#if(!$viewer.hidden)
						<li#if($current_page == $viewer.pluginName) class="active"#end><a href="$!context/$viewer.pluginPath">$viewer.pluginName</a></li>
	#end
#end

#foreach($trigger in $triggerPlugins)
	#if(!$trigger.hidden)
						<li#if($current_page == $trigger.pluginName) class="active"#end><a href="$!context/$trigger.pluginPath">$trigger.pluginName</a></li>
	#end
#end
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">${user_id} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="$!context?logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
