<!DOCTYPE html> 
<html>
	<head>
#parse( "azkaban/webapp/servlet/velocity/style.vm" )
		<script type="text/javascript" src="${context}/js/jquery/jquery.js"></script>    
		<script type="text/javascript" src="${context}/js/jqueryui/jquery-ui.custom.min.js"></script>   
		<script type="text/javascript" src="${context}/js/namespace.js"></script>
		<script type="text/javascript" src="${context}/js/underscore-1.2.1-min.js"></script>
		<script type="text/javascript" src="${context}/js/backbone-0.5.3-min.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.simplemodal.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.nav.js"></script>
		<script type="text/javascript">
			var contextURL = "${context}";
			var currentTime = ${currentTime};
			var timezone = "${timezone}";
			var errorMessage = "${error_message}";
			var successMessage = "${success_message}";
			
			var projectId = "$project.name";
		</script>
	</head>
	<body>
#set($current_page="all")
#parse( "azkaban/webapp/servlet/velocity/nav.vm" )
		<div class="messaging"><p id="messageClose">X</p><p id="message"></p></div>  

			<div class="content">
#if($errorMsg)
				<div class="box-error-message">$errorMsg</div>
#else
#if($error_message != "null")
				<div class="box-error-message">$error_message</div>
#elseif($success_message != "null")
				<div class="box-success-message">$success_message</div>
#end

				<div id="all-jobs-content">
					<div class="section-hd">
						<h2><a href="${context}/manager?project=${project.name}&permissions">Permissions</a></h2>
						<div class="section-sub-hd">
							<h4><a href="${context}/manager?project=${project.name}">Project <span>$project.name</span></a></h4>
						</div>
					</div>
				</div>

				<div id="project-users">
					<table class="user-table">
						<tr><td class="first">Project Admins:</td><td>$admins</td></tr>
						<tr><td class="first">Your Permissions:</td><td>$userpermission.toString()</td></tr>
					</table>
				</div>

				<div id="project-summary">
					<table class="summary-table">
						<tr><td class="first">Name:</td><td>$project.name</td></tr>
						<tr><td class="first">Created Date:</td><td>$utils.formatDate($project.lastModifiedTimestamp)</td></tr>
						<tr><td class="first">Modified Date:</td><td>$utils.formatDate($project.createTimestamp)</td></tr>
						<tr><td class="first">Last Modified by:</td><td>$project.lastModifiedUser</td></tr>
						<tr><td class="first">Description:</td><td id="pdescription">$project.description</td>
							#if($admin)
								<td><div id="edit" class="btn5">Edit</div></td>
							#end
						</tr>
					</table>
				</div>

		<table id="all-jobs" class="all-jobs permission-table">
			<thead>
				<tr>
					<th class="tb-username">User</th>
					<th class="tb-perm">Admin</th>
					<th class="tb-read">Read</th>
					<th class="tb-write">Write</th>
					<th class="tb-execute">Execute</th>
					<th class="tb-schedule">Schedule</th>
				</tr>
			</thead>
			<tbody>
#if($permissions)
#foreach($perm in $permissions)
	<tr>
		<td class="tb-name">$perm.first</td>
		#if ($perm.second.isPermissionNameSet('ADMIN'))
			<td><input type="checkbox" name="admin" disabled="disabled" checked></input></td>
			<td><input type="checkbox" name="read" disabled="disabled" checked></input></td>
			<td><input type="checkbox" name="write" disabled="disabled" checked></input></td>
			<td><input type="checkbox" name="execute" disabled="disabled" checked></input></td>
			<td><input type="checkbox" name="scheduled" disabled="disabled" checked></input></td>
		#else
			<td><input type="checkbox" name="admin" disabled="disabled"> </input></td>
			<td><input type="checkbox" name="read" disabled="disabled" #if ($perm.second.isPermissionNameSet('READ')) checked#end > </input></td>
			<td><input type="checkbox" name="write" disabled="disabled" #if ($perm.second.isPermissionNameSet('WRITE')) checked#end > </input></td>
			<td><input type="checkbox" name="execute" disabled="disabled" #if ($perm.second.isPermissionNameSet('EXECUTE')) checked#end > </input></td>
			<td><input type="checkbox" name="scheduled" disabled="disabled" #if ($perm.second.isPermissionNameSet('SCHEDULE')) checked#end > </input></td>
		#end
	</tr>
#end
#else
						<tr><td class="last">No Users Found.</td></tr>
#end
			</tbody>
		</table>
#end
		</div>
	
	</body>
</html>