#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<script type="text/javascript" src="${context}/js/azkaban.date.utils.js"></script>  
<script type="text/javascript" src="${context}/js/azkaban.schedule.panel.view.js"></script>

<div id="scheduleModalBackground" class="modalBackground3">
	<div id="schedule-panel-top">
		<div id="schedule-panel" class="modal">
			<a href='#' title='Close' class='modal-close closeSchedule'>x</a>
			<h3>Schedule Flow Options</h3>

			<div id="scheduleInfo">
				<dl>
					<dt>Schedule Time</dt>
					<dd>
						<input id="hour" type="text" size="2" value="12"/>
						<input id="minutes" type="text" size="2" value="00"/>
						<select id="am_pm">
						  <option>pm</option>
						  <option>am</option>
						</select>
						<select id="timezone">
						  <option>${timezone}</option>
						  <option>UTC</option>
						</select>
					</dd>
					<dt>Schedule Date</dt><dd><input type="text" id="datepicker" /></dd>
					<dt>Recurrence</dt>
					<dd>
						<input id="is_recurring" type="checkbox" checked  />
						<span>repeat every</span>
					 	<input id="period" type="text" size="2" value="1"/>
						<select id="period_units">
						  <option value="d">Days</option>
						  <option value="h">Hours</option>
						  <option value="m">Minutes</option>
						  <option value="M">Months</option>
						  <option value="w">Weeks</option>
						</select>
					</dd>
				</dl>
			</div>
	

			<div class="actions">
				<a class="yes btn1" id="schedule-button" href="#">Schedule</a>
				<a class="no simplemodal-close btn3 closeSchedule" id="cancel-schedule-btn" href="#">Cancel</a>
			</div>
		</div>
	</div>
</div>
